/** CSS Variables **/
$label-blue-color: #2D374C;
$content-blue-color: #2B384C;
$grey-color: #ddd;
$green-color: #91B07C;
$blue-bg-color: #2E6995;
$light-grey-color: #D7D9DD;
$dark-blue: #566070;
$grayish-blue: #2B384B;
